html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

p {
  margin: 0 !important;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

figure {
  margin: 0 !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.navbar {
  padding: 12px 0 !important;
}

.navbar-brand {
  margin-right: 0 !important;
  gap: 4px;
}

.navbar-toggler {
  background-color: #7FAD39 !important;
  transition: #7FAD39;
}
.navbar-toggler:focus {
  transition: #7FAD39;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px !important;
}

.navbar-toggler-icon {
  background-image: url("../assets/icons/header_icon-toggler.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
}

.collapse {
  max-width: 380px;
}

.dropdown > button {
  font-weight: 600;
  padding: 0;
  font-size: 12px;
  background-color: transparent;
  color: white;
  border: none;
  transition: ease-out 0.7s;
}
.dropdown > button:hover, .dropdown > button:active, .dropdown > button:focus {
  box-shadow: none;
  color: #7FAD39;
  background-color: transparent;
}
.dropdown > button:hover {
  transition: ease-out 0.7s;
}

.btn:active, .btn:focus {
  box-shadow: none;
}

.dropdown-toggle {
  gap: 8px;
  align-items: center;
}

.dropdown-item {
  gap: 8px;
  font-weight: 600;
  font-size: 12px;
}

.dropdown-menu > li {
  background-color: #2A2A2A;
}
.dropdown-menu > li:hover {
  background-color: #2A2A2A;
}

.dropdown-menu > li > a {
  color: white;
  transition: ease-out 0.7s;
}
.dropdown-menu > li > a:hover {
  transition: ease-out 0.7s;
  color: #7FAD39;
  background-color: #2A2A2A;
}

.dropdown-toggle::after {
  content: none !important;
}

.nav-item > .nav-link {
  display: inline;
  transition: ease-out 0.7s;
  color: white;
}
.nav-item > .nav-link:hover {
  transition: ease-out 0.7s;
  color: #7FAD39;
}
.nav-item > .nav-link:hover svg {
  fill: #7FAD39;
}

.my-links {
  color: black;
  transition: ease-out 0.7s;
}
.my-links:hover {
  color: #7FAD39;
  transition: ease-out 0.7s;
}

.col-lg-3 {
  padding-right: 20px;
}

.btn-custom {
  color: white;
  background-color: #7FAD39;
  transition: ease-out 0.7s;
  padding: 17px 19px;
  border: 1px solid #7FAD39;
}
.btn-custom:hover {
  color: #7FAD39;
  background-color: transparent;
  border: 1px solid #7FAD39;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 10px !important;
    gap: 20px;
  }

  .nav-link > svg {
    width: 30px;
    height: 30px;
  }

  .col-lg-3 {
    padding-right: 0;
  }
}
@media (max-width: 498px) {
  .container {
    max-width: 498px;
    padding: 0 30px !important;
  }
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu-MediumItalic.woff") format("woff"), url("../fonts/Ubuntu-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
.header {
  /* ===== MID ======= */
  /*==== third ====== */
}
.header__first-line {
  background: #2A2A2A;
}
.header__first-left-part {
  gap: 20px;
}
.header__first-left-item-one a {
  color: #ffffff;
  transition: ease-out 0.7s;
}
.header__first-left-item-one a:hover {
  transition: ease-out 0.7s;
  color: #7FAD39;
}
.header__first-left-item-one a:hover svg {
  fill: #7FAD39;
}
.header__first-left-item-one a > span {
  font-size: 12px;
  font-weight: 600;
}
.header__first-left-item-line {
  border: 1px solid white;
  height: 14px;
}
.header__first-left-item-two > p {
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.header__form {
  gap: 20px;
}
.header__first-right-item-one > a {
  font-size: 12px;
  font-weight: 600;
  transition: ease-out 0.7s;
  color: white;
}
.header__first-right-item-one > a:hover {
  color: #7FAD39;
  transition: ease-out 0.7s;
}
.header__first-right-item-one > a:hover svg {
  fill: #7FAD39;
}
.header__mid-block {
  height: 80px;
}
.header__mid-list-links {
  gap: 34px;
}
.header__mid-list-links li > a {
  font-size: 16px;
  font-weight: 500;
}
.header__mid-control-price > p {
  font-size: 16px;
  font-weight: 800;
}
.header__mid-control-price > p span {
  color: #999999;
  font-weight: 400;
}
.header__third-left-left, .header__third-left-mid, .header__third-left-right {
  height: 50px;
  display: flex;
  align-items: center;
}
.header__third-left-mid > h3 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  margin: 0;
}
.header__third-left {
  background-color: #7FAD39;
}
.header__third-mid-dropdown > .dropdown > button {
  color: black !important;
  font-size: 16px;
  font-weight: 800;
}
.header__third-mid-dropdown {
  margin-left: 20px;
}
.header__third-mid-dropdown > .dropdown > .dropdown-toggle {
  gap: 20px;
}
.header__third-line-mid-wrapper {
  border: 1px solid rgba(42, 42, 42, 0.2);
  position: relative;
  height: 50px;
}
.header #search-item {
  height: 28px;
  border: none;
  outline: none;
  border-left: 1px solid #999999;
  text-align: center;
}
.header #search-item::placeholder {
  padding-left: 8px;
}
.header__search-submit-btn {
  max-height: 50px;
  border: 1px solid #7FAD39;
  background: #7FAD39;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
.header__third-mid-dropdown .dropdown-menu {
  transform: translate3d(0px, 40px, 0px) !important;
  margin-left: -21px !important;
}
.header__wrapper-search-sbtn {
  height: 100%;
  max-height: 50px;
}
.header__wrapper-search-sbtn a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px;
  transition: ease-out 0.7s;
}
.header__wrapper-search-sbtn a:hover {
  color: black;
  transition: ease-out 0.7s;
}
.header__phone-link {
  color: black;
  font-weight: 900;
  font-size: 16px;
  transition: 0.7s;
}
.header__phone-link:hover {
  color: #7FAD39;
  transition: 0.7s;
}
.header__link-phone-icon {
  border-radius: 50%;
  border: 1px solid transparent;
  transition: ease-out 0.7s;
}
.header__link-phone-icon:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  border: 1px solid #7FAD39;
  transition: ease-out 0.7s;
}
.header__info-two > p {
  font-size: 12px;
  opacity: 0.5;
}
.header__dropdown-hide {
  display: none;
}

@media (max-width: 1200px) {
  .header #search-item {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .header__mid-line {
    margin-top: 30px;
  }
  .header__mid-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header__mid-block {
    height: auto;
  }
  .header__third-line {
    margin-top: 50px;
  }
  .header__third-line-mid-wrapper {
    width: 100%;
  }
  .header__third-line-left-wrapper {
    width: 100%;
    padding-right: 0;
  }
  .header__third-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 498px) {
  .header__first-left-item-two, .header__first-left-item-line {
    display: none;
  }
  .header .nav-link > svg {
    width: 40px;
    height: 40px;
  }
  .header__mid-list-links {
    flex-direction: column;
    align-items: center;
  }
  .header__third-mid-dropdown {
    display: none;
  }
  .header #search-item {
    border-left: none;
  }
  .header__dropdown-hide {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
  }
  .header__dropdown-hide .dropdown-toggle {
    color: black;
    font-size: 18px;
  }
  .header__dropdown-hide .dropdown-toggle {
    text-align: center;
    margin: 16px auto;
  }
}
.header .navbar-nav {
  display: flex;
  justify-content: right;
}

.banner {
  margin-top: 20px;
}
.banner__block {
  height: 100%;
  max-height: 442px;
  border: 1px solid #cccccc;
}
.banner__main {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.banner__main-left {
  margin-left: 50px;
  margin-bottom: 30px;
}
.banner__list-category {
  gap: 6px;
}
.banner__list-category > li:first-child {
  margin-top: 30px;
}
.banner__list-category > li:last-child {
  margin-bottom: 30px;
}
.banner__list-category > li > a {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  opacity: 0.5;
  transition: ease-out 0.7s;
}
.banner__list-category > li > a:hover {
  color: #7FAD39;
  transition: ease-out 0.7s;
}
.banner__main-sub > p {
  font-size: 16px;
  font-weight: 800;
  color: #7FAD39;
}
.banner__main-title > h1 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 900;
  max-width: 329px;
}
.banner__main-text > p {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
}
.banner__main-btn {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .banner__main-btn {
    margin-top: 30px;
  }
  .banner__main-right > figure > img {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .banner__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .banner__main-sub {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .banner__block {
    flex-direction: column-reverse;
    max-height: none;
  }
  .banner__main-left {
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .banner__main-title {
    text-align: center;
  }
  .banner__main-btn {
    padding-bottom: 30px;
  }
}
@media (max-width: 498px) {
  .banner__main-title > h1 {
    font-size: 32px;
  }
}

.category {
  margin-top: 20px;
}
.category__block {
  padding-right: 20px;
  width: 100%;
  height: 100%;
  max-height: 270px;
}
.category__block:last-child {
  padding-right: 0;
}
.category__card {
  border: 1px solid #cccccc;
  transition: ease-out 0.7s;
}
.category__card a {
  transition: ease-out 0.7s;
}
.category__card a:hover {
  color: #7FAD39;
  transition: ease-out 0.7s;
}
.category__card a:hover h5 {
  transition: ease-out 0.7s;
  color: #2A2A2A;
}
.category__card:hover {
  border: 1px solid #7FAD39;
  transition: ease-out 0.7s;
}
.category__card-title > h5 {
  background-color: #7FAD39;
  font-size: 20px;
  font-weight: 900;
  color: white;
  transition: ease-out 0.7s;
}
.category__card-title {
  text-align: center;
  padding: 8px 5px 0 5px;
  margin-bottom: 12px;
  background-color: #7FAD39;
  width: 100%;
  max-width: 200px;
}
.category__control-left {
  width: 99%;
}

@media (max-width: 1200px) {
  .category__item-figure {
    width: 97%;
  }
  .category__item-one-figure, .category__item-two-figure {
    width: 99%;
  }
}
@media (max-width: 993px) {
  .category__item-figure {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .category__deep-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .category__wrapper {
    justify-content: center;
  }
  .category__control-left {
    width: 100%;
  }
  .category__block {
    padding-right: 0;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
