.rated {
  margin-top: 90px;
  &__box {
    width: calc(100%/3) !important;
  }
  &__control-btn {
    gap: 10px;
  }
  &__control-btn > button {
    background-color: #F5F5F5;
    padding: 16px 22px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: $accent-transition;
    &:hover {
      background-color: $accent-color;
      transition: $accent-transition;
      box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    }
  }
  &__item-products {
    margin-top: 56px;
  }
  &__control-title > h3 {
    font-size: 24px;
    font-weight: 900;
  }
  &__item-sub > p {
    font-size: 20px;
  }
  &__item-price > p {
    font-size: 20px;
    font-weight: 900;
  }
  &__item-right > a {
    color: black;
    &:hover {
      color: black;
    }
  }
  &__item-left > figure > img {
    max-width: 110px;
    max-height: 110px;

  }
}