.footer {
  margin-top: 130px;
  background-color: #191919;
  padding-bottom: 100px;
  &__main-line {
    padding-top: 62px;
  }
  &__content-left-sub {
    margin-top: 40px;
    gap: 14px;
  }
  &__content-left-text > p {
    color: white;
    font-size: 14px;
  }
  &__title-list > h6 {
    font-size: $font-md;
    font-weight: 900;
    color: white;
  }
  &__links-list > ul > li > a,
  &__content-right > ul > li > a {
    color: white;
    font-size: 14px;
    transition: $accent-transition;
    &:hover {
      transition: $accent-transition;
      color: $accent-color;
    }
  }
  &__links-list {
    margin-top: 20px;
  }
  &__content-right > ul,
  &__links-list > ul {
    gap: 14px;
  }
  &__content-right {
    margin-top: 40px;
  }
  &__wrap-logo {
    gap: 80px;
  }
  &__right-title {
    margin-top: 40px;
  }
  &__right-sub > p {
    font-size: 16px;
    color: white;
  }
  &__right-title > h6 {
    font-size: 20px;
    color: white;
    font-weight: 800;
  }
  &__input-mail {
    margin-top: 40px;
    button {
      border: none;
      height: 64px;
      padding: 0 36px;
      background-color: $accent-color;
      font-size: 14px;
      font-weight: 800;
      color: white;
      &:hover {
        color: #2A2A2A;
      }
    }
  }
  #footer-mail {
    width: 100%;
    max-width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
  &__social-links {
    margin-top: 23px;
    ul > li > a {
      transition: $accent-transition;
      color: white;
      &:hover {
        transition: $accent-transition;
        color: $accent-color;
      }
    }
  }
  &__last-line {
    margin-top: 100px;
  }
  &__copyright > p {
    font-size: 14px;
    color: white;
    font-weight: 600;
  }
}