.footer {
  @media (max-width: 1400px) {
    &__wrap-logo {
      gap: 50px;
    }
  }
  @media (max-width: 1200px) {
    &__wrap-logo {
      gap: 20px;
    }
  }
  @media (max-width: 992px) {
    &__main-line {
      flex-direction: column;
      .col-lg-7,
      .col-lg-5 {
        width: 100%;
        justify-content: space-between;
        gap: 0;
      }
    }
    &__right-sub > P,
    &__right-title > h6 {
      text-align: center;
    }
    &__input-mail {
      justify-content: center;
    }
    &__social-links > ul {
      justify-content: center;
    }
    &__last-line {
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
    }
  }
  @media (max-width: 576px) {
    &__wrap-logo {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px !important;
    }
    &__content-right {
      margin-top: 20px;
    }
    &__last-line {
      margin-top: 60px;
    }
  }
  @media (max-width: 392px) {
    &__input-mail > button {
      padding: 0 14px;
    }
    #footer-mail {
      width: 100%;
      max-width: 300px;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 12px;
      border: none;
    }
  }
}