.featured {
  @media (max-width: 991px) {
    &__main-one,
    &__main-two {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  @media (max-width: 523px) {
    &__tabs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .nav-link {
        font-size: 20px;
        &:focus {
          color: $accent-color !important;
          transition: $accent-transition !important;
        }
      }
    }
    &__title > h3 {
      text-align: center;
    }
    &__control {
      flex-direction: column;
    }
    &__control-item {
      font-size: 24px;
    }
    &__card {
      margin: 0 auto;
    }
  }
}